.selected-product-page {
  display: flex;
  height: 100vh;
  background: rgb(221, 221, 221);
}

.selected-product-box {
  /* border: none; */
  border: 1px solid rgb(29, 29, 29);
  border-radius: 1.5px;
  display: inline-block;
  padding: 1vh;
  text-align: center;
  margin: 2.5vh 1vw 1.5vh 1vw;
  background-color: aliceblue;
  transition: all 0.15s ease-in-out;
}

.selected-product-box:hover {
  /* transform: scale(1.05); */
  /* z-index: 300; */
}

.selected-product-title {
  margin: 2.5vh 0 3.5vh 3vw;
  font-size: 3.5vh;
  /* border: 1px solid red; */
  color: rgb(29, 29, 29);
}

.selected-product-image {
  width: 28vw;
  height: 60vh;
  margin: auto;
  margin-bottom: 1.7vh;
  display: block;
  cursor: pointer;
}

.info-box-wrap {
  margin-top: 5vh;
  /* border: 3px solid white; */
  position: relative;
  display: flex;
  flex-flow: column;
  height: 53vh;
  width: 40vw;
  /* border: 0.5px solid red; */
}

.info-box {
  margin: 2vh 0 3vh 5.5vw;
  /* border: 1px solid red; */
}

#description-box {
  margin-top: 0.5vh;
  /* border: 0.5px solid red; */
}

.size {
  padding: 0.5vh;
  background: rgba(238, 238, 238, 0.87);
  margin-left: 1vw;
  border-radius: 0.5vh;
  outline: none;
  /* font-weight: 500; */
  font-size: 16px;
  /* border: none; */
}

.selected-product-labels {
  display: inline-block;
  margin: 0;
  /* margin-right: auto; */
  color: black;
  font-weight: 650;
  font-size: 19px;
  /* cursor: pointer; */
}

#size-label {
  margin-bottom: 1vh;
}

#description-label {
  margin-bottom: 1vh;
}

.selected-product-info {
  display: inline-block;
  margin: 0;
  /* margin-right: auto; */
  color: darkslateblue;
  font-weight: 500;
  font-size: 18px;
  /* cursor: pointer; */
}

#description-content {
  margin-left: 0.3vh;
  min-width: 90%;
}

#purchase-btn-box {
  margin-bottom: 2vh;
  /* border: 1px solid red; */
  /* position: absolute; */
  margin-top: auto;
  transform: translateX(-25%);
}

.purchase-btn {
  padding: 0.8vh;
  padding-top: 0.4vh;
  font-weight: 600;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.6vh;
}

#buy-now-btn {
  background-color: rgb(255, 219, 17);
  border: 1.4px solid rgb(66, 66, 66);
  border-radius: 0.3vh;
  margin-left: 0.8vh;
}

#buy-now-btn:hover {
  transform: scale(1.02);
  box-shadow: inset 0 0 100px 100px rgb(255, 226, 58);
}

#add-cart-btn {
  margin-left: 1vw;
  background-color: orange;
  border: 1px solid black;
  border-radius: 0.3vh;
  transition: all 0.15s ease-in-out;
}

#add-cart-btn:hover {
  transform: scale(1.02);
  box-shadow: inset 0 0 100px 100px rgb(255, 172, 17);
}
